@charset "utf-8";

body {
    color: #666;
    font-size: 12px;
}
a {
    color: #666;
}


.h-header .top-nav {
    margin: 0 auto;
    width: 1190px;
    height: 74px;
    padding-top: 24px;
    /* border: 1px solid #000; */
}

.h-header .top-nav .logo {
    float: left;
}
.top-nav .logo h1 {
    position: absolute;
    text-indent: -9999px;
}

.h-header .top-nav .user-nav {
    float: right;
}
/* 搜索框 */
.h-header .top-nav .search {
    margin: 0 265px 0 357px;
    padding-top: 10px;
    line-height: 30px;
    position: relative;
}
.h-header .search .cursor-sel {
    position: relative;
    display: inline-block;
    width: 66px;height: 30px;
    /* line-height: 30px;  行高可以继承*/
    text-align: center;
    border: 1px solid #e0e0e0;
}
/* 搜索文本框 */
.h-header .search input {
    display: inline-block;
    width: 400px;height: 30px;
    line-height: 30px;
    padding-left: 1em;
    text-align: left;
    border: 1px solid #e0e0e0;
    /* margin-left: -4px; */
}
.search .cursor-sel, 
.search input {
    float: left;
}
/* 下拉三角形 */
.h-header .search .icon-sel {
    float: right;
    margin: 12px 6px 0 0;
}
/* 设置弹出的小窗 */
.h-header .search .course-menu {
    position: absolute;
    top: 30px; left: 0px;
    display: none;
}
.h-header .search .course-menu li {
    border: 1px solid #e0e0e0;
    width: 66px;
}
.h-header .search .cursor-sel:hover .course-menu {
    display: block;
}
.h-header .search .cursor-sel .course-menu li:hover {
    background-color: #ccc;
}

/* 设置放大镜的样式 */
.h-header .search .icon-search {
    position: absolute;
    top: 15px;
    left: 450px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url(../img/search.gif) no-repeat;
}

/* 搜索框区域 */

/* 用户导航区域 */
.h-header .top-nav .user-nav {
    padding-top: 5px;
}
.h-header .user-nav .user-nav-item {
    /* float: left; */
    display: inline-block;
    height: 42px;
    line-height: 42px;
    margin: 0 11px 0 14px;
}
/* 设置头像 */
.h-header .user-nav .avatar {
    height: 42px;width: 42px;
    border-radius: 50%;
    border: 1px solid #3598db;
}
.h-header .user-nav .username {
    display: inline-block;
}

/* 设置弹出用户菜单 */
.h-header .user-nav .user {
    position: relative;
}
.h-header .user-nav .user-menu-cover {
    position: absolute;
    left: 0px;
    top: 40px;
    display: none;
    z-index: 1000;
}
.h-header .user-nav .username:hover .user-menu-cover {
    display: block;
}
.h-header .user-nav .user-menu-cover li {
    display: block;
    border: 1px solid #f1f1f1;
    width: 124px;
    height: 40px;
    text-align: center;
}
.h-header .user-nav .user-menu-cover li:hover {
    background-color: #cecece;
}
/* 设置弹出身份菜单 */
.h-header .user-nav .identity {
    position: relative;
}
.h-header .user-nav .identity-menu-cover {
    position: absolute;
    left: -40px;
    top: 40px;
    display: none;
    z-index: 1000;
}
.h-header .user-nav .identityname:hover .identity-menu-cover {
    display: block;
}
.h-header .user-nav .identity-menu-cover li {
    display: block;
    border: 1px solid #f1f1f1;
    width: 124px;
    height: 40px;
    text-align: center;
}
.h-header .user-nav .identity-menu-cover li:hover {
    background-color: #cecece;
}

.h-header .user-nav .msg-wrap {
    position: relative;
    top: 8px;
    height: 34px;
    width: 40px;
    background: url('../img/sprite-msg.png') no-repeat left top;
}
/* 消息数字 */
.h-header .user-nav .msg-wrap .msg {
    position: relative;
    top: -18px;
    left: 15px;
    display: inline-block;
    width: 34px;
    height: 40px;
    line-height: 16px;
    padding-left: 4px;
    background: url('../img/sprite-msg.png') no-repeat left bottom;
}
.h-header .user-nav .msg-num {
    color: #fff;
    font-size: 10px;
}
.h-header .user-nav i.icon {
    display: inline-block;
    float: right;
    margin: 17px 0 0 7px;
}
/* 顶部区域 */

/* =================================================================== */
/* 主导航区 site-nav */
/* site-nav box */
.site-nav {
    background-color: #3598db;
    font-size: 16px;
}
.site-nav .site-nav-wrap {
    margin: 0 auto;
    height: 60px;
    width: 1190px;
    /* border: 1px solid #ccc; */
}
.site-nav li, 
.site-nav a {
    color: #fff;
}
/* left nav */
.site-nav .main-nav {
    float: left;
    height: 60px;
    line-height: 60px;
}
.site-nav .main-nav .menu-item {
    float: left;
    margin-right: 10px;
}
.site-nav .menu-item a {
    text-align: center;
    display: inline-block;
    height: 32px;width: 70px;
    line-height: 32px;
    border-radius: 3px;
    padding: 0 22px;
}
.site-nav .menu-item a.cur,
.site-nav .menu-item a:hover {
    background-color: #2db0f9;
}
/* right nav */

.site-nav .nav-aside {
    background-color: #e7594d;
    float: right;
    padding-left: 20px;
}
.site-nav .nav-aside li {
    float: left;
    line-height: 60px;
    height: 60px;
    margin-left: 20px;
}
/* bg-right */
.site-nav .bg-red-wrap {
    margin-left: 1190px;
    position: relative;
}
.site-nav .bg-red-wrap .bg-red {
    position: absolute;
    z-index: 1;
    right: 0;bottom: 0px;
    width: 50%;
    height: 60px;
    background-color: #e7594d;
} 
/* ======================================================================== */

/* banner */
.h-banner {
    overflow: hidden;
    width: 100%;
    position: relative;
}
.h-banner .banner-img {
    width: 100%;
}
.h-banner .slide-bar {
    position: absolute;
    left: 50%;top: 365px;
    margin-left: -45px;
    width: 90px;
    height: 14px;
}
.h-banner .slide-bar .slide-btn {
    float: left;
}
.h-banner .slide-btn a {
    display: inline-block;
    width: 14px;
    height: 14px;
    background: url('../img/ico_circle.png') no-repeat -73px 0;
    margin-right: 15px;
}
.h-banner .slide-btn a.cur-banner,
.h-banner .slide-btn a:hover {
    background: url('../img/ico_circle.png') no-repeat -15px -22px;
}

/* ===================================================================== */

/* course */
.h-main .course-list, 
.h-main .book-list {
    margin: 0 auto;
    width: 1190px;
    padding-top: 40px;
}
.h-main .p-module .p-module-head {
    font-size: 22px;
    /* line-height: 55px; */
    height: 22px;
    color: #1a1a1a;
}
.h-main .p-module .p-module-head .p-module-title {
    float: left;
    height: 22px;
    line-height: 22px;
    padding-left: 18px;
    border-left: 7px solid #2db0f9 ;
}
.h-main .p-module .p-module-more {
    float: right;
    line-height: 22px;
    font-size: 16px;
    color: #5da7df;
}

/* 设置课程列表项 */
.p-module .p-module-body {
    overflow: hidden;
}
.h-main .p-module .p-module-body .p-list-item {
    padding-top: 30px;
    margin: 0 14px;
    font-size: 16px;
    line-height: 28px;
    color: #1a1a1a;
    float: left;
}
.h-main .p-module .p-module-body .p-list-item img {
    height: 180px;
    width: 207px;
    border: 1px solid #e1e1e1;
}
.p-module .p-module-body .p-list-item .p-name {
    text-align: center;
    width: 206px;
}
.h-main .p-module .p-module-body .p-list .p-list-item:nth-child(6){
    clear: both;
}

/* =================================================================== */
/* footer */
.h-footer {
    background: #373a43;
    height: 141px;
    text-align: center;
    padding-top: 44px;
    font-size: 16px;
    color: #fff;

}